<h1>Editar Tweet <i class="fab fa-twitter-square"></i></h1> 

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Ver tweet", @tweet, class: "btn-twitter" %> |
  <%= link_to "Volver", tweets_path, class: "btn-twitter" %>
</div>
