<h1>Nuevo Tweet <i class="fab fa-twitter-square"></i></h1> 

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Volver a todos los tweets", tweets_path, class: "btn-twitter" %>
</div>



