.card{
    border: none !important;
    
}

.card1{
    background-color: #ffffff;
    border-color: #1da1f2;
    border-style: solid;
    border-radius: 15px;

}

.card1:hover{
    background-color: #fef8b4; 
    border-radius: 15px;
    /* transform: scale(1.1); */
}

.btn_buscar{
	box-shadow: 3px 4px 0px 0px #252525;
	background-color:#f6f4f6;
	border-radius:2px;
	border:1px solid #252525;
	display:inline-block;
	cursor:pointer;
	color:#252525;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size:15px;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #252525;
}

.btn_buscar:hover {
	background-color:#fef8b4;
	transform: translate(5px, 5px);
	box-shadow: 0px 0px 0px 0px;
}

.btn_buscar:active {
	position:relative;
	top:1px;
}

.btn-twitter {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-twitter:hover {
    background-color: #0c8de4;
  }
  
  .btn-twitter:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.5);
  }
      

  .input-twitter {
    padding: 8px 16px;
    font-size: 14px;
    color: #000;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 9999px;
    width: 300px;
  }
  
  .input-twitter:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.5);
    border-color: #1da1f2;
  }



  .btn-twitter2 {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-twitter2:hover {
    background-color: #0c8de4;
  }
  
  .btn-twitter2:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.5);
  }

  .tweet{
    color: #252525;
  }

  .username{
    color:#0c8de4;
  }

  .fechas{
    font-size: 15px;
    font-weight: 200;
  }
  
  .fechas2{
    font-size: 15px;
    font-weight: 200;
  }

  /* Estilos personalizados para el nav de Pagy */
.pagy-bootstrap-nav ul.pagination {
    margin: 0;
    padding: 0;
  }
  
  .pagy-bootstrap-nav ul.pagination li.page-item {
    display: inline-block;
    margin-right: 5px;
  }
  
  .pagy-bootstrap-nav ul.pagination li.page-item a.page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-decoration: none;
  }
  
  .pagy-bootstrap-nav ul.pagination li.page-item a.page-link:hover,
  .pagy-bootstrap-nav ul.pagination li.page-item a.page-link:focus {
    background-color: #ebebeb;
    border-color: #ccc;
  }
  
  .pagy-bootstrap-nav ul.pagination li.page-item.active a.page-link {
    background-color: #1da1f2;
    color: #fff;
    border-color: #1da1f2;
  }
  
  .pagy-bootstrap-nav ul.pagination li.page-item.disabled a.page-link {
    opacity: 0.6;
    pointer-events: none;
  }
  